/*Les polices*/
/*Récupérer cette propriété sur Google fonts : https://fonts.google.com/*/
h1, h2, h3, h4, h5, h6, i { font-family: 'Raleway', sans-serif; }

/*La couleur dominante*/
.circle, .navbar, .frame { border-color: #145374; }
h1, h2, h3, h4, h5, h6, i, .item { color: #00334e; }

/*Le fond de couleur*/
/*Récupérer ces propriétés sur Ui Gradients: https://uigradients.com*/
.bg-color {
  background: #5588a3;
  background: -webkit-linear-gradient(to right, #5588a3, #145374);
  background: linear-gradient(to right, #5588a3, #145374);
}
